<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="path" value="D:\\projects\\"/>
  </appSettings>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sqlProviderParallelTask" connectionString="Data Source=.Initial Catalog=ParallelTask;User ID=sa;Password=sa"  providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
