<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="Total" />
			<appender-ref ref="Fatal" />
			<appender-ref ref="Error" />
			<appender-ref ref="Info" />
			<appender-ref ref="Debug" />
		</root>
		<logger name="testApp.Logging">
			<level value="DEBUG"/>
		</logger>
		<appender name="Total" type="log4net.Appender.RollingFileAppender">
			<!--日志文件名-->
			<file value="logs\TotalFolder\log.txt"/>
      <!--<file value="d:\LogFiles\TotalFolder\log.txt"/>-->
			<!--是否在文件中追加-->
			<appendToFile value="true"/>
			<!--按照文件的大小进行变换日志文件-->
			<rollingStyle value="Size"/>
			<!--最大变换数量-->
			<maxSizeRollBackups value="15"/>
			<!--最大文件大小-->
			<maximumFileSize value="2MB"/>
			<!--日志文件名是否为静态-->
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>

		<appender name="Fatal" type="log4net.Appender.RollingFileAppender">
			<!--日志文件名-->
      <file value="logs\FATALFolder\log.txt"/>
      <!--<file value="d:\LogFiles\FATALFolder\log.txt"/>-->
			<!--是否在文件中追加-->
			<appendToFile value="true"/>
			<!--按照文件的大小进行变换日志文件-->
			<rollingStyle value="Size"/>
			<!--最大变换数量-->
			<maxSizeRollBackups value="15"/>
			<!--最大文件大小-->
			<maximumFileSize value="1MB"/>
			<!--日志文件名是否为静态-->
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="FATAL"/>
				<param name="LevelMax" value="FATAL"/>
			</filter>
		</appender>
		<appender name="Error" type="log4net.Appender.RollingFileAppender">
			<!--日志文件名-->
			<file value="logs\ERRORFolder\log.txt"/>
      <!--<file value="d:\LogFiles\ERRORFolder\log.txt"/>-->
      <!--是否在文件中追加-->
			<appendToFile value="true"/>
			<!--按照文件的大小进行变换日志文件-->
			<rollingStyle value="Size"/>
			<!--最大变换数量-->
			<maxSizeRollBackups value="15"/>
			<!--最大文件大小-->
			<maximumFileSize value="1MB"/>
			<!--日志文件名是否为静态-->
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR"/>
				<param name="LevelMax" value="ERROR"/>
			</filter>
		</appender>
		<appender name="Info" type="log4net.Appender.RollingFileAppender">
			<!--日志文件名-->
			<file value="logs\INFOFolder\log.txt"/>
      <!--<file value="d:\LogFiles\INFOFolder\log.txt"/>-->
      <!--是否在文件中追加-->
			<appendToFile value="true"/>
			<!--按照文件的大小进行变换日志文件-->
			<rollingStyle value="Size"/>
			<!--最大变换数量-->
			<maxSizeRollBackups value="15"/>
			<!--最大文件大小-->
			<maximumFileSize value="1MB"/>
			<!--日志文件名是否为静态-->
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="INFO"/>
				<param name="LevelMax" value="INFO"/>
			</filter>
		</appender>
		<appender name="Debug" type="log4net.Appender.RollingFileAppender">
			<!--日志文件名-->
			<file value="logs\DEBUGFolder\log.txt"/>
      <!--<file value="d:\LogFiles\DEBUGFolder\log.txt"/>-->
      <!--是否在文件中追加-->
			<appendToFile value="true"/>
			<!--按照文件的大小进行变换日志文件-->
			<rollingStyle value="Size"/>
			<!--最大变换数量-->
			<maxSizeRollBackups value="15"/>
			<!--最大文件大小-->
			<maximumFileSize value="1MB"/>
			<!--日志文件名是否为静态-->
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG"/>
				<param name="LevelMax" value="DEBUG"/>
			</filter>
		</appender>
	</log4net>
</configuration>