<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerProjectPath" value="C:\projects"/>
    <add key="WIPath" value="notepad"/>
  </appSettings>
    <!--<connectionStrings>
      <add name="WF1.Properties.Settings.ParallelTaskConnectionString" connectionString="Data Source=192.168.0.128;Initial Catalog=ParallelTask;User ID=sa;Password=sa"  providerName="System.Data.SqlClient"/>
        --><!--<add name="WF1.Properties.Settings.ParallelTaskConnectionString" connectionString="Data Source=192.168.0.128;Initial Catalog=ParallelTask;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>--><!--
    </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.117:8732/Design_Time_Addresses/WcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>
